.articlesListh2Header {
  color: #2b5563;
}

.articleSorterList {
  justify-content: right;
}

.unorderedArticlesList {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1em;
}

@media only screen and (min-width: 800px) {
  .unorderedArticlesList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .unorderedArticlesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
