.commentListItem {
  list-style-type: none;
  margin: 1em;
  text-align: center;
  color: #326273;
  border: 1px outset #e8c54775;
}

@media only screen and (min-width: 600px) {
  .commentListItem {
    display: grid;
    grid-template-columns: auto 10%;
  }
}

@media only screen and (min-width: 600px) {
  .commentListUpdateVotes {
    align-self: center;
  }
}

.commentCreatedAt {
  font-style: italic;
  color: #326273;
}

.commentBody {
  color: #2b5563;
}

.commentAuthor {
  color: #2c4957;
}
