.commentVoteUpdater {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .commentVoteButtonsDiv {
    display: flex;
    justify-content: space around;
  }
}

.notActiveButton {
  pointer-events: none;
  opacity: 0.3;
}

.fontAwesomeButton {
  font-size: 1.5em;
  padding-top: 5%;
}
